:root {
  --color-black: #000000;
  --color-primary: #34547A;
  --color-secondary: #727272;
  --color-white: #ffffff;
  --bg-color-gray: #eeeff2;

  --font-size: 16px;
  --font-primary: "Roboto", sans-serif;
  --letter-spacing: 0.1em;
  --line-height-lg: 1.625;
  --line-height-sm: 1.2;

  --container-main: 1150px;
  --container-small: 540px;
  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
  font-weight: 400;
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

.container {
  max-width: var(--container-main);
  padding: 0 var(--gap);
  margin: 0 auto;
}

.container--sm {
  max-width: var(--container-small);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-content {
  max-width: var(--container-small);
  
}

.header {
  padding: 70px 0 141px;
  background-color: var(--bg-color-gray);
}

.header-navbar {
  margin-bottom: 138px;
}

.header-navbar__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 23px;
  margin-left: calc(0px - var(--gap-sm));
}

.header-navbar__link {
letter-spacing: var(--letter-spacing);
color: var(--color-black);
padding: var(--gap-sm);
display: block;
}

.header-navbar__link--active {
  font-weight: 500;
  color: var(--color-primary);
}

.header-content__title {
  font-weight: 500;
  font-size: 48px;
  line-height: var(--line-height-lg);
  color: var(--color-black);
  margin: 0 0 35px;
}

.header-content__description {
  line-height: var(--line-height-lg);
  color: var(--color-secondary);
  margin-bottom: 56px;
  line-height: var(--line-height-lg);
}

.header-content__link {
  display: flex;
  align-items: center;
  width: 225px;
  height: 65px;
  justify-content: center;
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing);
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 0.5em 1em;
}

.section {
  padding: 112px 0 90px;
}

.section__title {
font-weight: 500;
font-size: 32px;
line-height: var(--line-height-sm);
text-align: center;
margin-bottom: 39px;
}

.section__description {
line-height: var(--line-height-lg);
text-align: center;
color: var(--color-secondary);
}

.about .container {
  max-width: var(--container-small);
}

.experience {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 100px 0;
}

.experience__container {
  display: flex;
  justify-content: space-between;
}

.experience-item {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--gap);
  flex-basis: 0;
}

.experience-item__title {
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 5px;
}

.process__contant {
  margin-bottom: 47px;
}

.process__video {
  width: 100%;
  height: 600px;
  margin-bottom: 3px;
  border: none;
}

.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 50px 0;
}

.footer__name {
  font-weight: 500;
  font-size: 21px;
  line-height: var(--line-height-sm);
  margin-bottom: var(--gap-sm);
}

.footer__copyright {
  font-size: 13px;
  line-height: var(--line-height-lg);
}