:root {
  --color-black: #000000;
  --color-primary: #34547A;
  --color-secondary: #727272;
  --color-white: #ffffff;

  --font-size: 16px;
  --font-primary: "Roboto", sans-serif;
  --letter-spacing: 0.1em;
  --line-height-lg: 1.625;

  --container-main: 1150px;
  --gap: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
  font-weight: 400;
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

.container {
  max-width: var(--container-main);
  padding: var(--gap);
  margin: 0 auto;
}
.header {
}

.header-navbar {
}

.header-navbar__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 42px;
}

.header-navbar__item {
}

.header-navbar__link {
letter-spacing: var(--letter-spacing);
color: var(--color-black);
}

.header-navbar__link--active {
  font-weight: 500;
  color: var(--color-primary);
}

.header-content {
}

.header-content__title {
  font-weight: 500;
  font-size: 48px;
  line-height: var(--line-height-lg);
  color: var(--color-black);
}

.header-content__description {
  line-height: var(--line-height-lg);
  color: var(--color-secondary);
}

.header-content__link {
  display: flex;
  align-items: center;
  width: 225px;
  height: 65px;
  justify-content: center;
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing);
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 0.5em 1em;
}